/mithra62/BackupPro
/mithra62/bin/phpDocumentor.phar
/mithra62/bin/phpunit.phar
/vendor
/composer.lock
/composer.phar
/.settings
/.buildpath
/.project
/mithra62/docs
/mithra62/tests/data/s3creds.config.php
/mithra62/tests/data/ftpcreds.config.php
