<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./tests/autoload.php" verbose="true">
    <testsuites>
        <testsuite name="mithra62 Test Suite">
            <directory>./tests/</directory>
            <directory>./BackupPro/tests/</directory>
        </testsuite>
    </testsuites>
	<logging>
	  <log type="coverage-html" target="./docs/test-output/report" lowUpperBound="35"
	       highLowerBound="70"/>
	  <log type="coverage-clover" target="./docs/test-output/coverage.xml"/>
	  <log type="coverage-php" target="./docs/test-output/coverage.serialized"/>
	  <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
	  <log type="json" target="./docs/test-output/logfile.json"/>
	  <log type="tap" target="./docs/test-output/logfile.tap"/>
	  <log type="junit" target="./docs/test-output/logfile.xml" logIncompleteSkipped="false"/>
	  <log type="testdox-html" target="./docs/test-output/testdox.html"/>
	  <log type="testdox-text" target="./docs/test-output/testdox.txt"/>
	</logging>    
</phpunit>