<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./tests/autoload.php" verbose="true">
	<testsuites>
		<testsuite name="mithra62 Test Suite">
			<directory>./BackupPro/tests/</directory>
			<exclude>./BackupPro/tests/Browser/</exclude>
			<!-- <directory>./BackupPro/tests/Browser/Prestashop</directory> -->
		</testsuite>
	</testsuites>
</phpunit>